{% extends 'base.html' %}

{% block content %}
{% for review in reviews %}
<div class="container">
    <div class="row">
        <div class="card my-4 col align-self-center">
            <div class="card-header d-flex justify-content-end">{{ review.user }}님이 작성</div>
            <div class="card-body">
            <h5 class="card-title text-center">{{ review.title }}</h5>
            <p class="card-text">{{ review.content }}</p>
            <a href="{% url 'communities:review_detail' review.pk %}" class="btn btn-primary">자세히 보기</a>
            </div>
            <div class="card-footer text-muted d-flex justify-content-end">
                {{ review.created_at.date }} 에 작성됨.
            </div>
            <div class="card-footer text-muted d-flex justify-content-end">
                {{ review.updated_at.date }} 에 수정됨.
            </div>
            
        </div>
    </div>
</div>
  {% endfor %}
{% endblock %}