{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container mt-4 text-white" style="background-color: black; width:60%;">
  <h1 class="text-white mb-4 ml-4">{{ movie.title }}</h1>
  <div class="card mb-3">
    
    <!-- youtube -->
    {% if videoid %}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe type="text/html" class="embed-responsive-item" src="https://www.youtube.com/embed/{{ videoid }}" frameborder="0"></iframe>
    </div>
    {% else %}
    <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" class="card-img-top" alt="영화 배경 포스터">
    {% endif %}


    <div class="card-body " style="background-color: black;">
      <div class="d-flex justify-content-between">
        <h1 class="card-title">{{ movie.original_title }}</h1>
        <p>영화 평점 : {{ movie.vote_average }}</p>
        {% if movie.vote_average == 10 %}
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
        {% elif movie.vote_average > 8 %}
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star "></h1>
          {% elif movie.vote_average > 6 %}
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star "></h1>
          <h1 class="fa fa-star "></h1>
          {% elif movie.vote_average > 4 %}
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star "></h1>
          <h1 class="fa fa-star "></h1>
          <h1 class="fa fa-star "></h1>
          {% elif movie.vote_average > 2 %}
          <h1 class="fa fa-star checked"></h1>
          <h1 class="fa fa-star "></h1>
          <h1 class="fa fa-star "></h1>
          <h1 class="fa fa-star "></h1>
          <h1 class="fa fa-star "></h1>
          {% else %}
          <h1 class="fa fa-star"></h1>
          <h1 class="fa fa-star"></h1>
          <h1 class="fa fa-star"></h1>
          <h1 class="fa fa-star"></h1>
          <h1 class="fa fa-star"></h1>
          {% endif %}
      </div>
      <p class="card-text">{{ movie.overview }}</p>
      <p>영화 인기도 : {{ movie.popularity }}</p>
      <p>영화 개봉일 : {{ movie.release_date }}</p>

      <p>영화 언어 : {{ movie.original_language }}</p>
      <!-- <div class="d-flex"> -->
      <p>장르 : 
      {% for genre in movie.genres %}
        {{ genre }}
      {% endfor %}
      </p>
      <!-- </div> -->
      {% if user in movie.like_users.all %}
      <i class="fas fa-heart fa-lg like-button" style="color: crimson;" data-id="{{ movie.pk }}"></i>
      {% else %}
      <i class="fas fa-heart fa-lg like-button" style="color: white;" data-id="{{ movie.pk }}"></i>
      {% endif %}
      <span id="like-count-{{ movie.pk }}">{{ movie.like_users.all|length }}</span>명이 이 영화를 찜했습니다.
      <div>
        <a class="btn btn-primary float-right" href="{% url 'movies:index' %}" class="btn btn-primary">목록</a>
        {% if request.user.is_superuser == 1 %}
        <a href="{% url 'movies:update' movie.pk %}" class="btn btn-warning float-right mr-2">수정</a>
    
        <form action="{% url 'movies:delete' movie.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-warning float-right mr-2">삭제</button>
        </form>
       {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  // 좋아요 기능
const likeButtonList = document.querySelectorAll('.like-button')
likeButtonList.forEach(likeButton => {
  likeButton.addEventListener('click', function (event) {
    const movieId = event.target.dataset.id
    {% if request.user.is_authenticated %}
      axios.get(`/movies/${movieId}/like/`)
        .then(response => {
        document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
        if (response.data.liked) {
          event.target.style.color = 'crimson'
        } else {
          event.target.style.color = 'black'
        }
      })
        .catch(error => { console.log(error) })
    {% else %}
      alert('비로그인 사용자는 누를 수 없습니다.')
    {% endif %}
 })
})


</script>
<style>
  .checked {
  color: orange;
}
</style>

{% endblock %}