{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <!-- <body style="background-color: black;"> -->
<div class="container" style="width:80%">
<div style="background-color: black;">
  <div class="position-relative overflow-hidden text-center bg-dark" style="background-image:url(https://user-images.githubusercontent.com/60081201/84587050-e162f200-ae56-11ea-9364-b243688cea48.png); width:100%;">

    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class=" font-weight-normal text-white mb-4">당신을 위한</h1>
      <h1 class=" font-weight-normal text-white mb-4">영화 추천 플랫폼</h1>
      <p class="lead font-weight-normal text-white mb-4 pb-4">The Movie Database(TMDb)의 데이터를 기반으로 사용자 맞춤형 영화 추천 서비스를 제공합니다.</p>
      <a class="btn btn-outline-light" href="{% url 'accounts:login' %}">시작하기</a>
    </div>
  </div>
<div class="container" style="">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">보고싶은 영화 '즐겨찾기'기능</h2>
        <p class="lead">보고싶었던 영화를 찜해놓고 편할때 꺼내 보세요</p>
      </div>
      <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; background-image:url(https://user-images.githubusercontent.com/60081201/84614165-4161a300-af00-11ea-8207-452494f76cff.png); background-position: center;"> -->
      <div class="bg-dark shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;"><img src="https://user-images.githubusercontent.com/60081201/84778999-be833a00-b01e-11ea-936b-29bf3021bab5.JPG" style="width:100%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">사용자 맞춤 영화 추천 서비스</h2>
        <p class="lead">찜해놓은 영화 장르를 바탕으로 영화를 추천합니다.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;"><img src="https://user-images.githubusercontent.com/60081201/84779145-00ac7b80-b01f-11ea-849e-824a5d8a0080.JPG" style="width:100%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>

  </div>


  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">오늘은 내가 영화 평론가~!</h2>
        <p class="lead">영화에 대한 당신의 생각을 남겨보세요</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;"><img src="https://user-images.githubusercontent.com/60081201/84779555-82040e00-b01f-11ea-817c-3c2e98abcb9d.png" style="width:100%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">댓글로 글쓴이와 대화하세요</h2>
        <p class="lead">다양한 사람들과 영화에 대해 소통하세요</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 90%; height: 300px; border-radius: 21px 21px 0 0;"><img src="https://user-images.githubusercontent.com/60081201/84779900-e8892c00-b01f-11ea-945d-f6674272be3b.JPG" style="width:100%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
</div>
</div>
  </body>
  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="https://user-images.githubusercontent.com/60081201/84585412-9b079600-ae4a-11ea-881f-a05c27a39223.png" style="width:160px; height:80px">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg> -->
        <p class="text-white">Copyright by WanSeok & YouBin 2020</p>
      </div>
      <div class="col-6 col-md">
        <h5>Introduce</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">특징 소개</a></li>
          <li><a class="text-muted" href="#">기능 소개</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Movie</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">영화 검색</a></li>
          <li><a class="text-muted" href="#">추천 서비스</a></li>
          <li><a class="text-muted" href="#">영화 리스트</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Community</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">커뮤니티 게시판</a></li>
          <li><a class="text-muted" href="#">댓글 수 확인</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Create Review</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">커뮤니티 글쓰기</a></li>
          <li><a class="text-muted" href="#">댓글 쓰기</a></li>

        </ul>
      </div>
    </div>

  </footer>
</div>
{% endblock %}