{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-color: black;">
<h3 class="text-white pt-3 d-flex justify-content-center">오늘의 추천 영화</h3>

<div id="carouselExampleCaptions" class="carousel slide mt-4" data-ride="carousel">
 
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active mt-4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" class="mt-4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2" class="mt-4"></li>
    </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex">
      {% for movie1 in movies1 %}
        <div class="col">
          <div class="row">
            <img src="https://image.tmdb.org/t/p/original/{{ movie1.poster_path }}" class="d-block w-100" alt="...">
          </div>
          <div class="row d-flex justify-content-center mt-2">
            <a href="{% url 'movies:detail' movie1.pk %}" class="btn btn-primary">영화 상세보기</a>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="d-flex m-4 p-2 text-white">
        <h5>인기 1~4위</h5>
      </div>
    </div>
    <div class="carousel-item">
      
      <div class="d-flex">
      {% for movie2 in movies2 %}
      <div class="col">
        <div class="row ">
          <img src="https://image.tmdb.org/t/p/original/{{ movie2.poster_path }}" class="d-block w-100" alt="...">
        </div>
        <div class="row d-flex justify-content-center mt-2">
          <a href="{% url 'movies:detail' movie2.pk %}" class="btn btn-primary">영화 상세보기</a>
        </div>
      </div>
      {% endfor %}
      </div>
      <div class="d-flex m-4 p-2 text-white">
        <h5>인기 5~8위</h5>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex">
      {% for movie3 in movies3 %}
      <div class="col">
        <div class="row">
          <img src="https://image.tmdb.org/t/p/original/{{ movie3.poster_path }}" class="d-block w-100" alt="...">
        </div>
        <div class="row d-flex justify-content-center mt-2">
          <a href="{% url 'movies:detail' movie3.pk %}" class="btn btn-primary">영화 상세보기</a>
        </div>
      </div>
      {% endfor %}
      </div>

      <div class="d-flex m-4 p-2 text-white">
        <h5>인기 9~12위</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


{% load bootstrap_pagination %}
<div class="container mt-4 mb-4">
  <h3 class="text-white d-flex justify-content-center">영화 목록 (평점순)</h3>
  <div class="row">
{% for movie in page_obj %}
<div class="card col-lg-3 col-sm-6 p-2 my-4 border border-white rounded" style="background-color: black;">
  <p class="card-text d-flex justify-content-end mr-2"><small class="text-white">평점 : {{ movie.vote_average }}</small></p>
  <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary border-0" style="background-color: black;"><img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <h5 class="card-title text-white"> {{ movie.title }}</h5>

    
    <p class="card-text">인기도 : {{ movie.popularity }}</p>

    <!-- <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">영화 상세보기</a> -->
  </div>
</div>

{% endfor %}
</div>
</div>
<!-- paginator -->
<div class="d-flex justify-content-center">
  {% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}
  <nav aria-label="Page navigation example">
    <div class="pagination" >
        <span class="step-links" >
       
            {% if page_obj.has_previous %}
                <a href="?page=1"></a>
                <a href="?page={{ page_obj.previous_page_number }}"></a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"></a>
            {% endif %}
          </div>
      
            <span class="ml-4 mt-1 current text-white">
              총 페이지 {{ page_obj.paginator.num_pages }}
            </span>
        
        </span>
    </div>
  </nav>
</div>
</div>

{% endblock %}