{% extends 'base.html' %}

{% block content %}
<div class="sidenav" style="background-image:url(https://user-images.githubusercontent.com/60081201/84614165-4161a300-af00-11ea-8207-452494f76cff.png); background-position: center;">
</div>
<div class="main container">
    <div class="col-md-10 col-sm-12" style="position: relative; top:100px; left:120px;">
        <h1 class="text-white">{{ user.username }}님</h1>
        <h2 class="text-white">안녕하세요~</h2>
        <hr class='bg-light' style="position: relative; left:-120px; width:70%">
        <h3 class="text-white">작성한 글 목록</h3>
        {% if user.review_set.all %}
            {% for review in user.review_set.all %}
            <a href="{% url 'communities:review_detail' review.pk %}">
                <p>{{ review.title }}</p>
            </a>
            {% endfor %}
            {% else %}
            <p style="color: thistle;">현재 작성한 글이 없습니다.</p>
            <a href="{% url 'communities:new_review' %}" class="text-white btn btn-secondary">글 쓰러가기</a>
            {% endif %}
            <hr class='bg-light' style="position: relative; left:-120px; width:70%">
            <h3 class="text-white">찜한 영화 목록</h3>
        {% if user.like_movies.all %}
            {% for movie in user.like_movies.all %}
            <a href="{% url 'movies:detail' movie.pk %}">
                <p>{{ movie.title }}</p>
            </a>
            {% endfor %}
        {% else %}
        <p style="color: thistle;">현재 찜한 영화가 없습니다.</p>
        <a href="{% url 'movies:index' %}" class="text-white btn btn-secondary">영화목록으로 가기</a>
        {% endif %}
        <hr class='bg-light' style="position: relative; left:-120px; width:70%">
        <div class="d-flex justify-content-center mb-4">
            {% if request.user == user %}
                <a href="{% url 'accounts:update' %}" class="text-white btn btn-dark mt-4 mr-2">정보 수정</a>
                <form action="{% url 'accounts:delete' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-warning mt-4">회원 탈퇴</button>
                </form>
            {% endif %}
        </div>
    </div>

</div>

<style>
    .main-head{
        height: 150px;       
    }
    
    .sidenav {
        height: 80%;
        margin-top: 100px;
        width:100px;


    }
    
    
    .main {
        padding: 0px 10px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {top: 100px;}
    }

    @media screen and (min-width: 768px){
        .main{
            margin-left: 40%; 
        }
    
        .sidenav{
            width: 40%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
    
</style>
    
{% endblock %}