<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- fornt awesome -->
    <script src="https://kit.fontawesome.com/542f4fd571.js" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4 ">
    <a class="navbar-brand blod" href=""> Movie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="">Movie List</a>
        <div class="mx-3"><a href="/communities/" class="text-white text-decoration-none"><h5>Review List</h5></a></div>
        <div class="mx-3"><a href="/communities/new_review/" class="text-white text-decoration-none"><h5>New Review</h5></a></div>
        {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="#">{{ user.username }}</a>
            <form class="nav-item nav-link" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <button> 로그아웃 </button>
            </form>

            {% else %}
              <a class="nav-item nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
              <a class="nav-item nav-link" href="{% url 'accounts:login' %}">로그인</a>
            {% endif %}
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="container">
     {% block content %}
     {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>